<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ArslanFarrukh_ColorOrderCustomerGrid::manage"
             title="Color Grids"
             module="ArslanFarrukh_ColorOrderCustomerGrid"
             sortOrder="10"
             resource="ArslanFarrukh_ColorOrderCustomerGrid::manage"
             parent="ArslanFarrukh_Core::arslan"
        />
        <add id="ArslanFarrukh_ColorOrderCustomerGrid::config"
             title="Configuration"
             module="ArslanFarrukh_ColorOrderCustomerGrid"
             sortOrder="20"
             action="admin/system_config/edit/section/arslan_colorgrids/"
             resource="ArslanFarrukh_ColorOrderCustomerGrid::manage"
             parent="ArslanFarrukh_ColorOrderCustomerGrid::manage"
        />
    </menu>
</config>
